.projectContainer{
    margin: 3vw 10vw;
    display: flex;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
}

.projectContainer h3{
    font-family: 'Montserrat', Arial, sans-serif;
    color: white;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255,255,255,.5);
}

.cardP{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

    text-align: center;
    width: 250px;
    height: 350px;

    border: 1px dotted red;

    margin: 20px;

    /*background-image: url("/assets/img/Screenshot (256).png");*/
    /*background-size:cover;*/
    /*background-position:center;*/

}

.lanList{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
    padding: 0;
}

.lanList li{
    width: max-content;
    height: max-content;
    font-family: 'SF Mono','Fira Code','Fira Mono','Roboto Mono',monospace;
    font-size: 14px;
    color: #e70733;
    background-color: rgba(220, 20, 60, 0.35);
    padding: 0 7px;
    border-radius: 10px;
    border: 1px solid crimson;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
}

.cardP i{
    color: rgba(255, 255, 255, 0.47);
    font-size: 25px;
    margin: 5px;
    position: relative;
}

.cardP a{
    position: relative;
}


/*.cardP a i::after{*/
/*    content: ;*/
/*    !*background: #DC143C;*!*/
/*    color: #DC143C;*/
/*    width: 100px;*/
/*    height: 100px;*/
/*    position: absolute;*/
/*    !*top: 0;*!*/
/*    !*right: 0;*!*/
/*    !*left: 0;*!*/
/*    !*z-index: 600;*!*/
/*    !*animation: iconAnimetion 3s linear forwards;*!*/
/*}*/

/*@keyframes iconAnimetion {*/
/*    0%{*/
/*        height: 0%;*/
/*    }*/

/*    100%{*/
/*        height: 100%;*/
/*    }*/
/*}*/

.iconContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.cardTitle{
    margin-top: 0;
    margin-bottom: auto;
}

.cardP i:before {

    animation: iconAniem 0.3s ;

}

/*@keyframes iconAniem {*/
/*    0%{*/
/*        */
/*    }*/

/*    10%{*/
/*        width: 100%;*/
/*        height: 10%;*/
/*        color: #DC143C;*/
/*    }*/
/*}*/

